{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel articles{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Créer un nouvel article</h1>

    {{ include('articles/_form.html.twig') }}


</div>
{% endblock %}
